<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<div class="container">
  <h2 class="mt-3 mb-3">Artigos</h2>
  <div class="mb-3">
    <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach((article) => { %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.slug %></td>
            <td><%= article.category.title %></td>
            <td>
              <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning btn-sm">Editar</a>
              <form action="/admin/articles/delete" method="POST" onsubmit="showDeleteConfimation(event, this)" class="d-inline">
                <input type="hidden" name="id" value="<%= article.id %>">
                <input type="submit" value="Deletar" class="btn btn-danger btn-sm">
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../../partials/footer') %>
