<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>
<div class="container">
  <h1 class="mt-3"></h1>
  <form action="/admin/articles/save" method="POST">
    <div class="card">
      <div class="card-header">
        <h2>Novo artigo</h2>
      </div>
      <div class="card-body">
        <div class="form-floating mb-3">
          <input type="text" id="title" name="title" class="form-control" placeholder="Defina o título do artigo">
          <label for="title">Título do artigo</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" name="body" id="body" placeholder="Escreva o artigo aqui!" style="height: 200px;"></textarea>
          <label for="body">Texto do Artigo</label>
        </div>
        <div class="form-floating mb-3">
          <select name="category" id="category" class="form-control">
            <option selected>Escolha uma Categoria</option>
            <% categories.forEach((category) => { %>
              <option value="<%= category.id %> "><%= category.title %> </option>
            <% }) %>
          </select>
          <label for="body">Categoria do Artigo</label>
        </div>
        <input type="submit" class="btn btn-success" value="Cadastrar">
      </div>
    </div>
  </form>
</div>
<script src='http://localhost:8080/assets/node_modules/tinymce/tinymce.min.js'></script>
<script>
  tinymce.init({
    selector: '#body',
    language: 'pt_BR',
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    ]
  });
</script>
<%- include ('../../partials/footer') %>
